.navbar {
	display: flex;

	justify-content: space-between;
	background-color: whitesmoke;
	align-items: center;

	.nav_items {
		ul {
			display: flex;
			flex-direction: row;

			li {
				overflow: hidden;
				margin: 0px 1rem;
				&:hover {
					.drop_list {
						display: block;
					}
				}

				a {
					color: black;
					&:hover {
						color: blue;
					}
				}

				.drop_list {
					transform: translateX(-10%);
					display: none;
					position: absolute;
					z-index: 1;

					.dropbox {
						transform: translateY(15%);
						background-color: #f9f9f9;
						min-width: 160px;
						box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
					}
					&:hover {
						display: block;
						display: flex;
						flex-direction: column;
					}
					Link {
						padding: 20px;
					}

					a {
						float: none;
						color: black;
						padding: 12px 16px;
						text-decoration: none;
						display: block;
						text-align: left;
						&:hover {
							background-color: #ddd;
						}
					}
				}
			}
		}
	}

	.navright {
		display: hide;
	}
}
@media only screen and (max-width: 768px) {
	.navbar {
		display: flex;

		height: 100%;
		justify-content: center;
		Image {
			width: 50%;
		}

		.nav_items {
			position: fixed;
			top: 0;
			right: -100%;
			width: 100vw;
			height: 100vh;
			background-color: wheat;
			z-index: 2;
			transition: all 0.2s;
			background-color: white;
			flex-direction: column;
			align-items: flex-start;
			padding-top: 100px;
			overflow-y: auto;

			&.active {
				right: 0% !important;
			}

			ul {
				display: flex;
				flex-direction: column;
				justify-content: center;
				li {
					margin-top: 40px;
				}
			}
		}
		.navright {
			display: block;
			width: 50px;
		}
	}
}
