$xs: 325px !default;
$sm: 768px !default;
$md: 1024px !default;
$lg: 1200px !default;
$xlg: 1600px !default;

$xxs-max: ($xs - 1);
$xs-max: ($sm - 1);
$sm-max: ($md - 1);
$md-max: ($lg - 1);
$lg-max: ($xlg - 1);

$breakpoints: (
	xxs: 0px,
	xs: $xs,
	sm: $sm,
	md: $md,
	lg: $lg,
	xlg: $xlg,
);
